<div class="main_content">

  <div class="main_points">
    <p> <h1> Security </h1> </p>
    <ul>
      <li>Track your phone if it is stollen. </li>
      <li>Keep track of your kids location while they are out. </li>
      <li>Get notifications when they reach school, or *if* they don't. </li>
    </ul>
  </div>
  <div class="main_points">
    <p> <h1> Social </h1> </p>
    <ul>
      <li>Earn points and beat friends by covering more ground. </li>
      <li>Travel to our daily random nearby locations to earn easy bonus points. </li>
      <li>Compare your earned points against your friends. </li>
    </ul>
  </div>
  <div class="main_points">
    <p> <h1> Fitness </h1> </p>
    <ul>
      <li>Track your daily KM's and earn points for beating your last. </li>
      <li>Keep fit while having fun! </li>
    </ul>
  </div>
  <div class="main_points">
    <p><h1> Corporate </h1></p>
    <ul>
      <li>Keep track of how long your employees spend on site. </li>
      <li>Maintain accurate logs of car travel distances. </li>
    </ul>
  </div>
  <div class="main_points_button"> 
    <h1> <%= link_to("Sign up", signup_path) %> </h1>
  </div>
</div>
